.Navbar{
    background-color: #282c34;
   
    padding: 1rem;
    min-height: 7vh;
text-align: left;
    font-size: calc(10px + 2vmin);
  }

.NavLink{
    color: white;
  margin-right: 10px;
    text-decoration: none;
  }

.Navbar-login{
  cursor: pointer;
}

.active-NavLink{
    
    text-decoration: underline;
  }